In [1]:
int_list = [1,2,3]

In [2]:
mixed_list = [1, 20, 'string']

In [3]:
len(int_list)

In [4]:
print(int_list[0])
print(int_list[-1])

1
3

In [6]:
name1 = ['John', 'Bob', 'Alice']
name2 = ['Tracy', "Elijan", 'Mason']

names_combined = name1 + name2
names_combined

['John', 'Bob', 'Alice', 'Tracy', 'Elijan', 'Mason']

In [7]:
name1[0] = 'Liam'
name1

['Liam', 'Bob', 'Alice']

In [8]:
name1.append('William')
name1.append('Jame')

In [10]:
name1

['Liam', 'Bob', 'Alice', 'William', 'Jame']

In [11]:
popped = name1.pop()
print(popped)
print(name1)

Jame
['Liam', 'Bob', 'Alice', 'William']

In [12]:
name1.pop(0) # удалили по индексу
name1

['Bob', 'Alice', 'William']

In [13]:
name1.append('James') # добавили в конец списка
name1.sort() # сортировка
name1

['Alice', 'Bob', 'James', 'William']

In [22]:
letters = ['abc', 'a', 'ab']
letters.sort(key = len) # sort of length (длина)
letters

['a', 'ab', 'abc']

In [23]:
letters.reverse() # сортировка в обратное направление
letters

['abc', 'ab', 'a']

In [24]:
letters.sort(reverse = True) # сортировка по убыванию
letters

['abc', 'ab', 'a']

In [25]:
letters.insert(1, 22) # вставка по индексу
letters

['abc', 22, 'ab', 'a']

In [33]:
letters.index(2) # поиск по индексу
letters

['abc', 22, 'ab', 'a']

In [37]:
print(letters.count('a')) # возвращает число вхождений

1

In [38]:
copy = letters.copy() # копирование
print(copy)

['abc', 22, 'ab', 'a']

In [39]:
numbers = [0, 1, 1, 2, 3, 3, 4, 4, 4, 4, 5, 6, 7, 8, 9, 234535]
print(numbers)

[0, 1, 1, 2, 3, 3, 4, 4, 4, 4, 5, 6, 7, 8, 9, 234535]

In [43]:
numbers.index(2) # поиск по индексу

3

In [44]:
numbers.clear() # очистка списка
numbers

[]

In [2]:
testString1 = "Hello World!"
print testString1.split("")
print testString1.rsplit("")

SyntaxError: invalid syntax (<ipython-input-2-8c32d84071ef>, line 2)